body {
  margin: 0;
  padding: 0;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.grid div {
  height: 40px;
  width: 40px;
}

.bomb {
  background-color: orange;
}
